#new-application {
  font-size: 12px;
  color: black;
  margin-left: 60px;
}

.app-head {
  color: black;
  text-decoration: underline;
}

#app-form {
  background-color: #E1E1E1;
  width: 450px;
  padding: 25px;
  margin-bottom: 25px;
}

#test {
  background-color: rgba(192, 192, 192, 0.01);
}