<%= form_for(@reffer) do |f| %>
  <% if @reffer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reffer.errors.count, "error") %> prohibited this reffer from being saved:</h2>

      <ul>
      <% @reffer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
